:root {
    font-family: "Rosario";
    font-style: italic;
    font-weight: 700;
    margin: 0;

}

body {
    max-width: 3000px;
    margin: 0 auto;
    padding: 0;
}

.body {
    height: 1100px;
    overflow: auto;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

.head-body {
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
}

.logo {
    width: 253px;
    height: 129px;
    box-sizing: border-box;
}

.menu ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu {
    width: 100%;
    height: 129px;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: end;
    padding-right: 3vw;
}

.menu ul>li>a {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFCFC;
    margin-left: 1vw;
    padding: 1.5vw;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.image-one {
    animation: one-image 5s cubic-bezier(.7, .01, .81, .77) 1;
    position: relative;
    margin: 30px;
}

.image-two {
    animation: two-image 3s linear 1;
    position: relative;
    margin: 30px;
}

.image-two div {
    margin: 30px 0;
}


@keyframes one-image {
    from {
        right: 40vw;
    }

    to {
        top: 0;
        right: 0;
    }

    50% {
        right: 40vw;
    }
}

@keyframes two-image {
    from {
        right: 55vw;
    }

    to {
        top: 0;
        right: 0;
    }

    50% {
        right: 55vw;
    }
}

.image-four {
    animation: four-image 5s cubic-bezier(.7, .01, .81, .77) 1;
    position: relative;
    margin: 30px;
}

.image-three {
    animation: three-image 3s linear 1;
    position: relative;
    margin: 30px;
}

.image-three div {
    margin: 30px 0;
}


@keyframes four-image {
    from {
        left: 40vw;
    }

    to {
        top: 0;
        left: 0;
    }

    50% {
        left: 40vw;
    }
}

@keyframes three-image {
    from {
        left: 55vw;
    }

    to {
        top: 0;
        left: 0;
    }

    50% {
        left: 55vw;
    }
}

.head {
    display: flex;
    justify-content: center;
}

.head-one {
    width: 1300px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-one1,
.img-one2,
.img-one3,
.img-one4 {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.img-one1 p,
.img-one2 p,
.img-one3 p,
.img-one4 p {
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin-top: 0;
}

.img-one1 {
    animation: around1 10s infinite ease-in;
    position: relative;
    top: 0;
    left: 0;
}

.img-one2 {
    animation: around2 10s infinite ease-in;
    position: relative;
    top: 0;
    left: 0;
}

.img-one3 {
    animation: around3 10s infinite ease-in;
    position: relative;
    top: 0;
    left: 0;
}

.img-one4 {
    animation: around4 10s infinite ease-in;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes around1 {

    from,
    to {
        top: 0;
        left: 0;
    }

    25% {
        top: 0px;
        left: 600px;
    }

    50% {
        left: 600px;
        top: 600px;
    }

    75% {
        top: 600px;
        left: 0;
    }
}

@keyframes around2 {

    from,
    to {
        top: 0;
        left: 0;
    }

    25% {
        top: 600px;
        left: 0vw;
    }

    50% {
        left: -600px;
        top: 600px;
    }

    75% {
        top: 0vw;
        left: -600px;
    }
}

@keyframes around3 {

    from,
    to {
        top: 0;
        left: 0;
    }

    25% {
        top: -600px;
        left: 0vw;
    }

    50% {
        left: 600px;
        top: -600px;
    }

    75% {
        top: 0vw;
        left: 600px;
    }
}

@keyframes around4 {

    from,
    to {
        top: 0;
        left: 0;
    }

    25% {
        top: 0vw;
        left: -600px;
    }

    50% {
        left: -600px;
        top: -600px;
    }

    75% {
        top: -600px;
        left: 0vw;
    }
}

.person {
    text-align: center;
    margin: 200px 0;
}

.person h1 {
    font-size: 96px;
    line-height: 116px;
    color: #000000;
    margin: 100px 0;
}

.person-box {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.box-img1,
.box-img2,
.box-img3,
.box-img4 {
    width: 396px;
    height: 677px;
    border: white 1px solid;
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

.box-img1 {
    background-image: url(./img/person1.svg);
}

.box-img2 {
    background-image: url(./img/person2.svg);
}

.box-img3 {
    background-image: url(./img/person3.svg);
}

.box-img4 {
    background-image: url(./img/person4.svg);
}

.name {
    width: 100%;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFAFA;
    background: rgba(163, 83, 10, 0.7);
    position: relative;
    top: 160px;
}

.box-img1:hover>.name,
.box-img2:hover>.name,
.box-img3:hover>.name,
.box-img4:hover>.name {
    top: 0;
    transition: all .3s ease-in;
}

.imfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basic {
    display: flex;
    justify-content: center;
}

.get {
    width: 50%;
    margin-left: 10%;
    text-align: center;
}

.map {
    width: 30%;
    padding-right: 10%;
}

.map iframe {
    width: 100%;
    height: 800px;
}

.get h1 {
    font-size: 5rem;
    line-height: 78px;
    text-align: center;
    color: #000000;
    width: 1050px;
}

table {
    width: 1200px;
    border: #E5E5E5 10px solid;
    background-color: #E5E5E5;
    border-collapse: separate;
    text-align: left;
    border-spacing: 50px;
}

td {
    background-color: white;
    font-size: 36px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.5);

}

.tabel1 {
    height: 90px;
}

.tabel1 input {
    width: 100%;
    height: 100%;
    border: white 1px solid;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}
.tabel1-1 input {
    width: 99%;
    height: 95%;
    border: white 1px solid;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}
.tabel2 textarea {
    width: 100%;
    height: 100%;
    border: white 1px solid;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}
.tabel2 textarea:active{
    border: white 1px solid;
}

.tabel2 {
    height: 200px;
    
    
}

.tabel1-1 {
    height: 76px;
    width: 611px;
    padding-left: 52px;
}

p {
    display: block;
    margin: 0;
    padding: 0;
}

.end {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 50px;
}

.end-one,
.end-two,
.end-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 600;
}

.end-one div>a {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.end-one div>a>span {
    font-weight: 700;
}

.end-two h1 {
    margin-bottom: 80px;
}

.box-a>a>p {
    color: #000000;
}

.end-three h1 {
    margin-bottom: 10;
}

.box-a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-a a {
    display: flex;
    margin: 0px 0px 3px 0px; 
}

.child {
    margin: 0px 0px 0px -4px;
}