body {
    text-align: center;
}
header {
    width: 800px;
    height: 200px;
    border: solid 2px rgb(197, 56, 31);
    font-size: larger;
    font-weight: bolder;
    color: rgb(29, 4, 4);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-box {
    width: 800px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
nav {
    width: 100px;
    height: 100%;
    border: solid 2px rgb(197, 56, 31);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    width: 700px;
    height: 100%;
    border: solid 2px rgb(197, 56, 31);
    font-size: medium;
    font-weight: 700;
    color: rgb(29, 25, 25);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    width: 800px;
    height: 200px;
    border: solid 2px rgb(75, 69, 67);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}