.heder {
    width: 1730px;
    height: 101px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heder-one a,
.heder-two a,
.heder-four a,
.heder-five a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
    padding: 30px;

}

.heder-one,
.heder-two,
.heder-four,
.heder-five {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    color: white;
    width: 200px;
    text-align: center;
}

.background {
    width: 1728px;
    height: 1150px;
    border: 1px black solid;
    background-image: url(../image/unsplash_NTYYL9Eb9y8.png);
}

.box {
    width: 1270px;
    height: 850px;
    border: 3px black solid;
    background-color: black;
    margin: 140px auto;
}

.box-text-one {
    position: absolute;
    width: 442px;
    height: 78px;
    left: 660px;
    top: 310px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FD7D54;
}

.box-text-two {
    position: absolute;
    width: 635px;
    height: 42px;
    left: 560px;
    top: 420px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.box-bored {
    display: flex;
    justify-content: space-evenly;
    padding-top: 286px;

}

.box-bored-one,
.box-bored-two,
.box-bored-three {
    width: 293px;
    height: 440px;
    border: 5px white solid;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
}


.box-border-line {
    margin: -24px auto;
}

.box-border-h3 {
    color:#41C3F6;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.12em;
    font-variant: small-caps;
}

.box-border-h2 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.15em;
    width: 75%;
}

.box-border-h1 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.end {
    width: 1728px;
    height: 50px;
    border: 1px black solid;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.end a {
    text-decoration: none;
    color: white;
}