body {
    min-width: 700px;
    max-width: 1000px;
    margin: 0;
    padding: 45px;
    background: #f7f5f5;
}

.title {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #171717;
    margin-top: 19px;
    margin-bottom: 79px;
}

.man {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #171717;
}

.man span {
    color: #D83933;
}

.title {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #171717;
    margin-top: 24px;
    margin-bottom: 32px;
}

.intake {
    display: flex;
    justify-content: space-between;
}

.intake p {}

.intake-one label,
.intake-two label {
    display: block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.intake-one input,
.intake-two input {
    width: 392px;
    height: 40px;
    margin: 8px 0;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid #b1aeae;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
}

.intake-two input {
    background-color: #EFEFEF;
}

.intake-one input {
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    background-position: 362px 9px;
}

.intake-one label>span {
    color: #D83933;
}

.phone {
    display: flex;
    justify-content: space-between;
}

.phone-one label,
.phone-two label,
.email-one label {
    display: block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.phone-one input,
.phone-two select,
.email-one input {
    width: 392px;
    height: 40px;
    margin: 8px 0;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    padding-left: 10px;
}

.phone-two label>span {
    color: #D83933;
}

.app {
    padding-left: 10px;
    color: #0050D8;
}

.check-one label {
    display: block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.check-one input {
    width: 392px;
    height: 40px;
    margin: 8px 0;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    box-sizing: border-box;
    border: 1px solid #9b9999;
    border-radius: 4px;
}

.check {
    width: 392px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.check input {
    width: 24px;
    height: 24px;
    background: #fcf7f7;
    border: 1px solid #858383;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 12px;
}

.check label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.border {
    border: #D1D1D1 1px solid;
    width: 100%;
    margin: 30px 0;
}

.mate {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #171717;
    margin-bottom: 35px;
}

.are {
    display: flex;
    justify-content: space-between;
}

.are-two label {
    display: block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.are-two {
    display: block;
}

.are-two select {
    width: 392px;
    height: 40px;
    margin: 8px 0;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    box-sizing: border-box;
    border: 1px solid #9b9999;
    border-radius: 4px;
}

.are-one {
    width: 392px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.are-one input {
    width: 30px;
    height: 30px;
    background: #fcf7f7;
    border: 1px solid #858383;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 12px;
}

.are-one label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.official {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.loop {
    width: 392px;
    height: 40px;
    margin: 8px 0;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid #b1aeae;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
}

.loop {
    background-image: url(../img/loop.svg);
    background-repeat: no-repeat;
    background-position: 362px 7px;
    outline: none;
}

.label-c {
    width: 329px;
}

.loop2::placeholder {
    color: #0050D8;
}

.button {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
}

.button button {
    width: 80px;
    height: 100%;
    border: 1px solid #0050D8;
    background-color: #0050D8;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%
}