.box {
    width: 69px;
    height: 1024px;
    /*box-shadov: x y blur color*/
    box-shadow: 1px 1px 2px #242625;
    background-color: #242625;
    overflow: hidden;
}
.box:hover{
width: 250px;    
}

.logo {
    width: 44px;
    height: 44px;
    background-color: #A492FF;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    color: white;
    font-size: 16px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

.info {
    display: -webkit-inline-box;
}
.email{
    color: #EFEFEF;
    text-decoration: none;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 700;
}
.site{
    color: #C0BFBD;
    text-decoration: none;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
}
.information{
    margin-left: 10px;
    margin-top: 25px;
}
.bol{
    position: absolute;
    top: 39px;
    left: 68px;
    transform: rotate(180deg);
}
.box:hover .bol{
    left: 245px;
    transform: rotate(0deg);
}
.box.box:hover .
.basic{
    margin-left: -11px;
    margin-top: 72px;
    list-style: none;
}
li a{
    color: #C0BFBD;
    text-decoration: none;
    margin-top: 4px;
    margin-left: 19px;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    font-style: normal;
}
li{
    display: flex;
    margin-top: 46px;
}
.search a{
    color: #C0BFBD;
    text-decoration: none;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    left: 79px;
    top: 174px;
}
.search{
    width: 218px;
    height: 50px;
    background-color: #424444;
    border-radius: 7px;
    margin-left: 15px;
    margin-bottom: -36px;
    margin-top: 85px;
}
.loopa{
    position: absolute;
    left: 40px;
    top: 173px;
}
.end{
    margin-top: 315px;
    padding-left: 32px;  
}
.moon{
    width: 35px;
    height: 20px;
    background-color:#424444;
    border-radius: 15px;
    justify-content: flex-end;
    display: flex;
    margin-top: 6px;
    margin-left: 15px;
}

