body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    width: 54px;
    /*width:250px*/
    height: 1024px;
    /*box-shadov: x y blur color*/
    box-shadow: 1px 0 0 #dedede;
    padding: 16px;
    overflow: hidden;
    transition: all .3s;
}
.navigation:hover{
    width: 250px;
}
.navigation:hover .iron{
    left: 270px;
    transform: rotate(0deg);
    
}
.navigation a {
    color: gray;
    text-decoration: none;
}

.nav {
    margin-bottom: 362px;
}

.user-info {
    margin-bottom: 56.5px;
}

.user-info .ikon {
    padding-left: 0;
}

.ikon {
    margin-right: 16px;
    padding: 13px 16px;

}

.iron {
    position: absolute;
    /*left: 271px;*/
    left: 74px;
    top: 40px;
    transform: rotate(180deg);
    transition: all .3s;
}


.nav li,
.option li,
.user-info {
    display: flex;
    align-items: center;
}

.search {
    background-color: #dedede;
    border-radius: 8px;
}
 .ikonend{
    margin-left: 66px;
    margin-top: 12px;
 }
.option {}