body {
    margin: 0;
    padding: 0;
}

.head li {
    list-style: none;
}

.heder a,
.hederto a {
    text-decoration: none;
    color: white;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;

}

.heder,
.hederto {
    padding: 25px;
    border-right: 4px white solid;
    padding: 20px 30px;
}

.head {
    width: 1920px;
    height: 90px;
    background-color: #202846;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-left: -41px;
}

.hederend {
    display: flex;
    align-items: center;
}

.hederto {
    border-right: none;
}

.ikon {
    padding-right: 292px;
    margin-left: 138px;
}

.UA {
    margin: auto 20px;
    color: white;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

.heder a:hover {
    color: yellow;
    font-size: 23px;
}

.UA:hover {
    color: yellow;
    font-size: 23px
}

.aboutus {
    width: 1920px;
    height: 140px;
    background-color: #C6C6DC;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textone {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    position: absolute;
    left: 227px;
}

.box {
    width: 1920px;
    height: 681px;
    background-color: #E5E5E5;
    display: grid;
    flex-direction: row;
    align-items: center;
}

.boxin {
    width: 1573px;
    height: 227px;
    background-image: url(/lesson4dz/img/img.svg);
    margin: 0px auto;
}
.boxinone{
    margin-top: 46px;
}
.h1{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    margin-bottom: -11px;
}
.h2{
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    margin: auto 126px;
}

.boxtwo {
    width: 1574px;
    height: 380px;
    background-color: #CBCBCB;
    margin: 0px auto;
}

.basictext {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #202846;
}
.boxtwoin{
    margin: 65px 69px;
}

.end {
    width: 1920px;
    height: 90px;
    background-color: #202846;
    display: flex;
    align-items: center
}

.endtext {
    font-family: PT Sans;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    color: #EEECF1;
    margin-left: 60px;
    line-height: 47px;
}