body {}

.general {
    max-width: 1440px;
    background-color: #F6F6F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    max-width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 0 30px;
}

.search,
.login {
    display: flex;
    align-items: center;
}

.search-wikipedia {
    width: 320px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    line-height: 21.79px;
}

.search-wikipedia-search,
.search-wikipedia-dandruff {
    margin: 0px 16px;
}

.search-read {
    margin-left: 32px;
    margin-right: 16px;
    color: #0645AD;
    font-weight: 700;
}

.login-user {
    padding: 0 10px;
}

.login-create {
    padding: 0px 16px 0px 32px;
    color: #0645AD;
}

.login-login {
    color: #0645AD;
}

.colum {
    display: flex;
    
}

.list li {
    list-style: none;
    margin: 19px 11px 15px -14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.columm-one {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 235px;
    flex: 1 0 auto;
}

.column-one-logo {
    margin: 0px 0px 32px 36px;
}

.column-one-list {
    background-color: #C4C4C4;
}

.column-basic {
    width: 853px;
    background-color: white;
}

.text p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}
.text{
    margin: 57px 32px 0px 32px;
}

.border{
    border: #EFEFEF 1px solid;
}

a{
    text-decoration: none;
    color: #828282;
}
.column-two {
    background-color: #F6F6F6;
    width: 352px;
    overflow: hidden;
}

.img {
    flex: 0 0 auto;
}

.philip {
    margin-left: 23px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 7px;
    letter-spacing: 0.04em;
}

.h1-contents {
    margin-left: 23px;
    padding-top: 19px;

}

.contents li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 11px 20px 6px 0px;
    letter-spacing: 0.06em;
}