body {
    margin: 0;
}

.body {
    max-width: 1440px;
    height: 5000px;
    box-sizing: border-box;
    overflow: hidden;
    background: #1e2022e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 1340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.title,
.title a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 10px 15px;
}

.medium {
    display: flex;
}

.title a:hover {
    color: #FFB742;
    transition: all 0.3s;
}

.title a:hover>.medium-div a {
    color: white;
}

.button {
    width: 121px;
    height: 54px;
    background: #FFB742;
    border: 2px solid #FFB742;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a,
.button-three a {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #212529;
    text-align: center;
}

.button:hover a {
    color: white;
    transition: all 0.3s;
}

.button-three:hover a {
    color: #FFFFFF;
    transition: all 0.3s;
}

.hi {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-top: 125px;
}

.hi span {
    color: #FFB742;
    border-bottom: #FFB742 solid 3px;
    cursor: pointer;
}

.creative {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.i {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 24px 0;
}

.colum {
    width: 1296px;
    height: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 136px 0;
}

.colum-one,
.colum-two,
.colum-three {
    height: 100%;
    width: 416px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    text-align: center;
}

.p,
.p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    color: #FFB742;
}

.colum-one p,
.colum-two p,
.colum-three p {
    margin: 0;
}

.colum-one:active,
.colum-two:active,
.colum-three:active{
    background-color: #FFB742;
}
.colum-one:hover p,
.colum-two:hover p,
.colum-three:hover p{
    color: #FFFFFF;
}

.colum-one:active p,
.colum-two:active p,
.colum-three:active p{
    color: #000000;
}
.com {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30.88px;
    text-transform: capitalize;
    color: #FFB742;
}

.info {
    width: 1342px;
    height: 597px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.info-text {
    width: 672px;
}

.button-two {
    width: 148px;
    height: 42px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.button-two a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;
}

.button-two:hover a {
    color: white;
}

.info-text h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
}

.info-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
    margin-top: 30px;
    margin-bottom: 54px;
}

.button-three {
    width: 145px;
    height: 54px;
    background: #FFB742;
    border: 2px solid #FFB742;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feat {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;

}

.menu {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.h2, .h3, .h4, .h5 {
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2:hover, .h3:hover, .h4:hover, .h5:hover{
    background-color: #FFB742; 
    color: #000000;
    transition: all 0.5s;
}
.image {
    width: 1234px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    margin-bottom: 116px;
}

.end {
    width: 1440px;
    height: 470px;
    box-sizing: border-box;
    background-color: #1C1C1C;
    padding-top: 148px;
    display: flex;
    justify-content: space-evenly;
}

.end1 {
    width: 255px;
    margin-right: 104px;
}

.end2 {
    width: 319px;
}

.h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
}

.h1:hover{
    color: #eebb6a;
}
.end1 p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
    margin-top: 30px;
    cursor: pointer;
}
.end1 p:hover{
    color: #d69393;
}
.end2 p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
    margin: 0;
    cursor: pointer;
}
.end2 p:hover{
    color: #d69393;
}
.end2 h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
    cursor: pointer;
}
.end2 h1:hover{
    color: #d4bfbf;
}