body {
    max-width: 1440px;
    text-align: center;
    box-sizing: border-box;
}

.title {
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #FBE201;
    margin: 20px 0;
}

.strong {
    color: #3E45E8;
}

.box-text {
    width: 100%;
    height: 803px;
    background-image: url(/LessonsPro2/svg/img.svg);
    text-align: left;
    padding-top: 195px;
    box-sizing: border-box;
    display: flex;
}

.text {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color: #FFFFFF;
    margin: 8px 1px -1px 120px;
}

.flag {
    width: 22px;
    box-sizing: border-box;
    position: absolute;
    left: 87px;
    top: 337px;
}

.flag-yelow {
    width: 100%;
    height: 136px;
    background-color: #1E8DF2;
}

.flag-blue {
    width: 100%;
    height: 136px;
    background-color: #FBE201;
}

.place-text {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
}

.place-border {
    border: 1px #3E45E8 solid;
    width: 402px;
    margin: 30px 0;
}

.place {
    text-align: left;
    padding: 72px 0px 0px 80px;
}

.box-img {
    width: 100%;
    height: 482px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    display: flex;
    padding: 0 53px;
    justify-content: space-around;
}

.img {
    width: 391.2px;
    height: 481px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px white solid;
    box-shadow: 0px 3px 77px 3px rgb(0 0 0 / 25%);
    border-radius: 30px;
    text-align: left;
}

.hand {
    position: absolute;
    top: 1445px;
    left: 334px;
}

.img-text {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #1E8DF2;
    margin: 19px 0px 0px 11px;
}

.img-text-small {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #E8C23E;
    width: 294px;
    margin: 19px 0px 0px 11px;
}

.two-border {
    margin: 30px 36%;
}

.two-place {
    margin-top: 74px;
}

.map {
    margin-top: 60px;
}

.button {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 157.3%;
    color: #FFFFFF;
    border: 1px #2A61F0 solid;
    background-color: #2A61F0;
    width: 591px;
    height: 121px;
    margin-left: 30%;
    margin-top: 41px;
    margin-bottom: 21px;
}
.end{
    width: 100%;
    height: 320px;
    box-sizing: border-box;
    background-color: #2F4A4B;
}
.tel, .email{
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-decoration: none;
}

.end-tel{
    margin: 23px 0;
}

.end-ikon{
    display: flex;
    justify-content: center;
    gap: 17px;
}
