body {
    margin: 0;
    padding: 0;
    width: 1920px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.title {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
}

.title a {
    display: inline-flex;
}

.logo-one {
    border: 1px #2979FF solid;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #4C589E;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    margin-left: 16px;
}

.logo-two {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #0C2146;
    margin-left: 12px;
    margin-top: 4px;
}

.title-regi {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #5A5B6A;
}

.title-sell {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.004em;
    color: #5A5B6A;
    margin: 0 38px;
}

.title-search {
    width: 668px;
    height: 48px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 107px;
    margin-right: 30px;
}

.search {
    border: 1px #EDEDF0 solid;
    width: 668px;
    height: 48px;
    border-radius: 99px;
    box-sizing: border-box;
    background-color: #EDEDF0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #19191D;
    padding-left: 40px;
}

.search:hover {
    border-color: green;
}

.loopa {
    position: absolute;
    left: 607px;
    top: 30px;
}

.close {
    position: absolute;
    top: 31px;
    left: 1222px;

}

.title-couns {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #2264D1;
}

.title-sign {
    border: 1px #9DC2FF solid;
    width: 104px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.0075em;
    color: #2264D1;
    justify-content: center;
    align-items: center;
    margin: 0px 21px 0px 123px;
}

.title-my {
    border: 1px #FFFFFF solid;
    width: 99px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.0075em;
    color: #2264D1;
    margin-right: 16px;
}

.five {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 1830px;
    top: 21px;
}

.nav {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 0 218px;
    display: flex;
    justify-content: space-between;
}

.box-nav {
    display: block;
    text-align: center;
    padding-top: 9px;
}

.box-nav:hover .nav-text {
    color: #2979FF;
}

.nav-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #787885;
}

.nav-text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #2979FF;

}

.header {
    display: flex;
    margin-top: 44px;
}

.info {
    max-width: 590;
    padding-left: 213px;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 75px;
}

.button {
    width: 304px;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid #9DC2FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.button-text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #2264D1;
    margin-left: 40px;
}

.list {
    height: 660px;
    box-sizing: border-box;
}

.list-base {}

.list-heder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.0275em;
    color: #19191D;
    margin-bottom: 10px 0;
}

.heder-two {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #787885;
}

.list-two-ele {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    color: #19191D;
    margin-top: 16px;
}

.list-two-one-one {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    color: #19191D;
    margin-top: 16px;
}

.list-two {}

.list-two-two {
    margin-top: 16px;
}

.list-two-two-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.0275em;
    color: #19191D;
    margin-top: 16px;
}

.two-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    color: #19191D;
}


.list-two-one {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.0275em;
    color: #19191D;
    margin-top: 16px;
}

.list-button {
    background: #EBF2FF;
    border-radius: 4px;
}




.basic {
    width: 1114px;
    height: 1612px;
    border: 1px black solid;
    box-sizing: border-box;
}