.heder {
    max-width: 1920px;
    height: 1575px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 100%;
    height: 117px;
    background: #F8F4FC;
    display: flex;
    justify-content: space-around;

}

.title-logo {
    height: 75%;
    margin-top: 20px;
}

.title-img {
    display: flex;
    gap: 40px;
    height: 75%;
    margin-top: 30px;
}

.basic {
    width: 1280px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 35px;
    color: #354657;
    margin-top: 84px;
}

.line {
    width: 100%;
    border: 1px #E2E2E2 solid;
}

.colum {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.colum-colum {
    width: 410px;
    height: 550px;
    border: 1px white solid;
    display: flex;
    flex-direction: column;

}

.p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
    margin: 0;
    display: flex;
    flex: 1 1 auto;
}

.bottom {
    width: 206px;
    height: 54px;
    border: 1px #946FD3 solid;
    border-radius: 50px;
    text-decoration: none;
    color: #946FD3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.end-box {
    width: 100%;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background-color: rgb(247, 240, 240);
}

.img-end {
    margin-left: 749px;

}

.border{
    width: 100%;
    border-top: 1px #E2E2E2 solid;
}
.info-info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
    text-decoration: none;
    text-align: center;
    display: flex;
    height: 43px;
    align-items: center;
}

.title-info {
    display: flex;
    gap: 50px;
    height: 75%;
    align-items: center;
}