 html,
 body {
     margin: 0;
     padding: 0;
 }

 @import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,600,700);

 .header {
     width: 80%;
     margin: 0 auto;
     background: #fa9a8d;
     padding: 27px 45px 33px 41px;
     border-radius: 30px;
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 16px;
     display: grid;
     grid-template-columns: 40% 30% 30%;
     grid-template-rows: 33.333% 33.333% 33.333%;
     gap: 5%;
     overflow: hidden;
 }

 .box-1 {
     grid-row: 1 / 3;
     grid-column: 1 / 2;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding: 15px 25px;
     gap: 17px;
     background: #FFFFFF;
     box-shadow: 7px 7px 0px #000000;
     border-radius: 20px;
     height: ;
 }

 .box-1 img {
     margin: 0 auto;
 }

 .box-2 {
     grid-row: 3 / -1;
     background-color: #FFFFFF;
     height: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 15px 15%;
     gap: 17px;
     box-shadow: 7px 7px 0px #000000;
     border-radius: 20px;
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 3em;
     line-height: 1.2em;
     color: #000000;
 }

 .box-3 {
     grid-row: 1 / 2;
     grid-column: 2 / -1;
     order:
 }

 .box-4 {
     grid-row: ;
     grid-column: ;
     order: ;
 }

 .box-5 {
     grid-row: 3 / -1;
     grid-column: ;
     order: ;
 }

 .box-6 {
     grid-row: ;
     grid-column: ;
     order:
 }

 .box-7 {
     grid-row: ;
     grid-column: ;
     order: ;
 }