.box-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 190px;
    min-height: 100px;
}

.title-radius {
    border: 7px #1ABE84 solid;
    border-radius: 100%;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.title-radius-smoll {
    border: 4px #FB8F1D solid;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: #FB8F1D;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 24px;
}

.bottom {
    width: 132px;
    height: 44px;
    border: 1px #FB8F1D solid;
    color: white;
    background-color: #FB8F1D;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    padding: 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.menu-list-link-one {
    width: 132px;
    height: 44px;
    border: 1px #FB8F1D solid;
    color: #FB8F1D;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    padding: 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list-link-first {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #202336;
    height: 31px;
    display: flex;
    align-items: center;
}

.menu-list-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B8BECD;
    height: 31px;
    display: flex;
    align-items: center;

}

.box-one {
    display: flex;
    justify-content: space-between;
    padding: 70px 105px 0px 190px;
}

.box-one-one {
    display: flex;
    flex-direction: column;
}

.box-botton {
    display: flex;
    justify-content: flex-start;
}

.miniborder {
    border: 1px #202336 solid;
    background: #202336;
    border-radius: 4px;
    width: 32px;
}

.box-one-one-h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
    mix-blend-mode: normal;
}

.box-one-one-h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
}

.one-tabel {
    width: 220px;
    height: 52px;
    box-sizing: border-box;
    border: 0.8px #AFB0B9 solid;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 31px;
    justify-content: space-between;
}

.box-one-one-table {
    display: flex;
    width: 470px;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 48px;
    margin-bottom: 47px;
}

.box-two-text {
    display: flex;
    flex-direction: column;
    height: 534px;
    justify-content: center;
    margin-left: 108px;
}

.box-two {
    display: flex;
    padding: 273px 217px 0px 141px;
}

.box-two-text-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    mix-blend-mode: normal;
}

.box-two-text-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    mix-blend-mode: normal;
    margin-bottom: 38px;
}

.box-three {
    max-width: 1190px;
    display: flex;
    flex-direction: column;
    padding: 230px 190px;
    padding-bottom: 0;
}

.three-title-one {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    mix-blend-mode: normal;
}

.three-title-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
    mix-blend-mode: normal;
}

.box-three-title {
    display: flex;
    justify-content: space-between;
}

.box-three-img {
    display: flex;
    justify-content: space-around;
    margin: 0px -15px;
}

.star {
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
}

.box-two-in {
    padding-right: 43px;
}

.box-two-two {
    align-items: center;
    padding-top: 180px;
    display: flex;
}

.text-two-box-two {
    justify-content: flex-start;
    height: 700px;
    padding-right: 261px;
    width: 496px;
}

.title-two-box-two {
    padding-bottom: 145px;
}

.box-two-h3 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #000000;
    mix-blend-mode: normal;
}

.box-two-h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
    mix-blend-mode: normal;
}

.last-img {
    border: 1px white solid;
    width: 595px;
    height: 493px;
    background-image: url(/lessons4/img/imgtwo2.svg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 16px 16px 22px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
overflow: hidden;

}

.box-img-box {
    border: 1px white solid;
    border-radius: 16px;
    background-color: white;
    width: 132px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.radius {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.radius-two {
    border: 2px #D7D7D7 solid;
    margin-right: 22px;
}

.box-end-img {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 257px;
    border: 1px white solid;
    border-radius: 9px;
    overflow: hidden;
}

.box-six-img {
    gap: 10px;
}

.img-box-img {
    width: 100%;
    height: 230px;
    overflow: hidden;
    box-sizing: border-box;
}

.end-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
    mix-blend-mode: normal;
}

.end-h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
    mix-blend-mode: normal;
}

.end-twxt-small {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
    mix-blend-mode: normal;
    margin-top: 10px;
}

.box-seven {
    width: 1600px;
    height: 482px;
    background: #F9F9FB;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 33px;
    margin-top: 271px;
}

.basic-one{
    display: flex;
    flex-direction: column;
    width: 500px;
    
}
.basic-one-text{
    width: 300px;
}

.basic {
    display: flex;
    flex: 1 1 auto;
    padding: 88px 190px;
}

.border {
    border: 1px #C4C4C4 solid;
    width: 1219px;
    margin-left: 190px;

}
.list-list, .basic-one-text, .basic-one-end{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
    mix-blend-mode: normal;  
}

.end {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.list-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 60px;
    color: #000000;
    mix-blend-mode: normal;  
}
.basic-four, .basic-three, .basic-two{
    width: 260px;
}
.img {

}